@layer components {
    .movie-card {
        @apply flex flex-col justify-between min-h-full bg-gray-800 rounded-lg overflow-hidden shadow-lg;
        @apply hover:scale-104 transition-transform ease-in-out duration-300 shadow-black;
    }

    .movie-card > a {
        @apply block;
    }

    .movie-poster {
        @apply block w-full max-w-full object-cover rounded-t-lg aspect-3/4;
    }

    .movie-poster-tooltip {
        @apply text-xs/5;
    }

    .movie-poster-tooltip .v-popper__inner {
        @apply max-w-xs;
    }

    .movie-description {
        @apply my-2.5 px-4 text-gray-300;
    }

    .movie-description-recommendation {
        @apply mb-2 mt-0.5 px-4 text-gray-300;
        @apply grow justify-self-center flex flex-col justify-center items-center;
    }

    .scrollbar-thin-dark {
        scrollbar-width: thin;
        scrollbar-color: var(--color-gray-400) var(--color-gray-800);
    }
}


